<h2>Approve new and revised IOs</h2>

<table class="table table-striped table-condensed table-hover">
    <thead>
    	<th></th>
    	<th>SFDC IO ID</th>
    	<th>Name</th>
    	<th>CPA/CPM</th>
    	<th>Channel</th>
    	<th>Advertiser</th>
    	<th>Rep Name</th>
    	<th>Start Date</th>
    	<th>End Date</th>
    	<th>Budget</th>
        <th></th><th></th>
    </thead>
    	<tbody ng-repeat="sfdc_camp in sfdc_camps" id="item_{{sfdc_camp.id}}" class="sfdccamp">
			<tr><td> SFDC: </td>
            <td> {{sfdc_camp.oid}} </td>
            <td> {{sfdc_camp.ioname}} </td>
            <td> {{sfdc_camp.cp}} </td>
            <td> {{sfdc_camp.channel }} </td>
            <td> {{sfdc_camp.advertiser}} </td>
            <td> {{sfdc_camp.owner_name}} </td>
            <td> {{sfdc_camp.start_date | date}} </td>
            <td> {{sfdc_camp.end_date | date}} </td>
            <td> {{sfdc_camp.budget | currency}} </td>
            <td></td><td></td></tr>
            <tr ng-show="sfdc_camp.campaign"><td> Campaign: </td>
            	<td> {{sfdc_camp.sfdc_oid}} </td>
            	<td> {{sfdc_camp.campaign}} </td>
            	<td> {{sfdc_camp.ccp }}</td>
            	<td> {{sfdc_camp.channel.channel}}</td>
            	<td> {{sfdc_camp.advertiser.advertiser }}</td>
            	<td> {{sfdc_camp.last_name + ', ' + sfdc_camp.first_name }}</td>
           	 	<td> {{sfdc_camp.cstart_date | date}}</td>
            	<td> {{sfdc_camp.cend_date | date}}</td>
            	<td> {{sfdc_camp.revised_deal | currency }}</td>
				<div><td><a href="#/edit/{{sfdc_camp.cid}}?fromsfdc={{sfdc_camp.id}}"><button>Edit</button></a></td>
            	<td><button ng-click="approve(sfdc_camp.id)">Approve</button></td></div>
            </tr>
            <tr ng-show="!sfdc_camp.campaign">
            	<td class="camp" colspan="12"> (No campaign) <a href="#/create?fromsfdc={{sfdc_camp.id}}"><button>Create</button></a></td>
            </tr>
            </tbody>
</table>
<a href="" ng-click = "page = page + 1; search()" ng-show ="show_more()">Show more</a>
