<h1>Current Dashboard</h1>
<form class="form-search">
	<div class="control-group" ng-class="{error: detailForm.advertiser.$invalid}">
		<label class="control-label" for="channel">Channel</label>
		<div class="controls">
			<select ui-select2 ng-model="channel_id" ng-click="getChannel()"  id="channel" data-placeholder="-- Select One --">
				<option></option>
				<option ng-repeat="a in select_channels" value="{{a.id}}">{{a.channel}}</option>
			</select>
			<button ng-click="channel_id=''" ng-disabled="!channel_id" type="submit" class="btn">Reset</button>
		</div>
	</div>
</form>

<h4> {{ cpa }} </h4>
<table class="table table-striped table-bordered table-hover">
	<thead>
		<th>Advertiser</th> <th ng-repeat="key in agency_keys" class="rev">{{key}}</th>
	</thead>
	<tr ng-repeat="item in agency_data">
		<td>{{item[1]}}</td>
		<td ng-repeat="cell in item.slice(2)" class="rev"> {{ cell | number:0 }}</td></tr>
	
	
	<!-- For original version:
	<thead>
		<th>Advertiser</th><th>Campaign</th><th>Contracted Deal</th><th>Revised Deal</th>
		<th ng-repeat="key in agency_keys" class="rev">{{key}}</th>
	</thead>
	<tr ng-repeat="item in agency_data">
		<td ng-show="advertiser_name($index)" rowspan="{{spanamt($index)}}">{{item[1]}}</td><td> {{item[2] }}</td>
		<td ng-repeat="cell in item.slice(3)" class="rev"> {{ cell | number }}</td>
	</tr> --->
</table>


<h1>Revenue Dashboard</h1>


<div class="row-fluid">
	<div class="span4">
	<h4>CPA</h4>
	<table class="table table-striped table-bordered table-hover">
		<thead> <!--</thead><thead class="customTable">-->
			<th>Channel</th>
			<th>This Month</th>
			<th>This Quarter</th>
			<th>This Year</th>
		</thead>
		<tbody>
			<tr><td>Direct</td><td></td><td></td><td></td></tr>
			<tr><td>Inside</td><td></td><td></td><td></td></tr>
			<tr><td>UK</td><td></td><td></td><td></td></tr>
		</tbody>	
	</table>
	<h4>CPM</h4>
	<table class="table table-striped table-bordered table-hover">
		<thead> 
			<th>Channel</th>
			<th>This Month</th>
			<th>This Quarter</th>
			<th>This Year</th>
		</thead>
		<tbody>
			<tr><td>Direct</td><td></td><td></td><td></td></tr>
			<tr><td>Inside</td><td></td><td></td><td></td></tr>
			<tr><td>UK</td><td></td><td></td><td></td></tr>
		</tbody>	
	</table>
	<h4>Client Count</h4>	
	<table class="table table-striped table-bordered table-hover">
		<thead>
			<th></th>
			<th>Q1</th>
			<th>Q2</th>
			<th>Q3</th>
			<th>Q4</th>
		</thead>
		<tbody>
			<tr><td>New</td><td></td><td></td><td></td><td></td></tr>
			<tr><td>Renewals</td><td></td><td></td><td></td><td></td></tr>
			<tr><td>Total</td><td></td><td></td><td></td><td></td></tr>
		</tbody>		
	</table>
	
	
	</div>
	<div class="span4">
		<h4>Booked Revenue</h4>
	<table class="table table-striped table-bordered table-hover">
		<thead>
			<th>Channel</th>
			<th>Type</th>
			<th>Revenue</th>
		</thead>
		<tbody>
			<tr ng-repeat="item in booked">
				<td>{{item.channel}}</td>
				<td>{{item.type}}</td>
				<td>{{item.sum | currency}}</td>
			</tr>
<!--			<tr><td rowspan="2">Direct</td><td>CPA</td><td></td><td></td><td></td><td></td></tr>
			<tr><td>CPM</td><td></td><td></td><td></td><td></td></tr>
			<tr><td rowspan="2">Inside</td><td>CPA</td><td></td><td></td><td></td><td></td></tr>
			<tr><td>CPM</td><td></td><td></td><td></td><td></td></tr>
			<tr><td>UK</td><td>CPA</td><td></td><td></td><td></td><td></td></tr>
			<tr><td></td><td>CPM</td><td></td><td></td><td></td><td></td></tr>
		-->
		</tbody>		
	</table>
	
	<h4>Actual Revenue</h4>
	<table class="table table-striped table-bordered table-hover">
		<thead>
			<th>Channel</th>
			<th></th>
			<th>Q1</th>
			<th>Q2</th>
			<th>Q3</th>
			<th>Q4</th>
		</thead>
		<tbody>
			<tr><td>Direct</td><td>CPA</td><td></td><td></td><td></td><td></td></tr>
			<tr><td></td><td>CPM</td><td></td><td></td><td></td><td></td></tr>
			<tr><td>Inside</td><td>CPA</td><td></td><td></td><td></td><td></td></tr>
			<tr><td></td><td>CPM</td><td></td><td></td><td></td><td></td></tr>
			<tr><td>UK</td><td>CPA</td><td></td><td></td><td></td><td></td></tr>
			<tr><td></td><td>CPM</td><td></td><td></td><td></td><td></td></tr>
		</tbody>		
	</table>
	
	</div>
	<div class="span4">
	<!-- <div chart></div> -->
	<!--<div column-chart="chartData" chart-title="Revenue" chart-haxis-title="Channel"></div>-->
    <!-- <chart ng-model="data" style="width:600px;height:300px;"> </chart> -->
	</div>
</div>



