<h2>{{btn_text}} Campaign </h2> 

<div class="row">
<form name="detailForm" class="form-horizontal">
<div class="span7">
		
    <div class="control-group" ng-class="{error: detailForm.campaign.$invalid}">
        <label class="control-label" for="campaign">Campaign</label>
        <div class="controls">
            <input type="text" ng-model="item.campaign" id="campaign" placeholder="" required />
            <span ng-show="detailForm.name.$error.required" class="help-inline">Required</span>
        </div>
    </div>
    <div class="control-group" ng-class="{error: detailForm.advertiser.$invalid}">
        <label class="control-label" for="advertiser">Advertiser</label>
        <div class="controls" ng-show="!ad_sfdc">
			<input ui-select2="select_advertisers" id="advertiser" ng-model="item.advertiser" data-placeholder="-- Select One --" />
			<button class="btn-small" ng-click="add_advertiser()">Not in list</button>
		</div>
        <div class="controls" ng-show="ad_sfdc">
			<select ui-select2 ng-model="item.advertiser_id" id="advertiser" data-placeholder="-- Select One --">
            	<option></option>
    			<option ng-repeat="a in select_advertisers_sfdc" value="{{a.id}}">{{a.advertiser}}</option>
  			</select>		
        </div>
        <div class="control-group" ng-show="add_new">
        <div class="controls">
			<input ng-model="new_advertiser" type="text" /><button class="btn-small" ng-click="create_advertiser()">Create new</button>
        </div>
        </div>
        <div class="control-group">
        <div class="controls rachel_error" ng-show="no_advertiser">
        	You must enter an advertiser
        </div>
        </div>        
    </div>
    <div class="control-group" ng-class="{error: detailForm.rep.$invalid}">
        <label class="control-label" for="rep">Representatives</label>
        <div class="controls">
        <div ng-repeat="my_rep in item.rep">
		<input type="text" value="{{my_rep.last_name + ', ' + my_rep.first_name}}" disabled />
        <button  class="btn-small" id="rep_{{my_rep.id}}" ng-click="delete_rep(my_rep)">Del</button>
        <button  class="btn-small" ng-click="get_from_rep(my_rep)">Get</button>
        </div>
        <div>
        	<input ui-select2="select_reps" ng-model="new_rep" data-placeholder="-- Select One --" />
  		<button class="btn-small" ng-click="add_rep()">Add</button>
  		</div> 
        </div> 
    </div>
    <div class="control-group" ng-class="{error: detailForm.type.$invalid}">
        <label class="control-label" for="type">Type</label>
        <div class="controls">
        	<select ui-select2 ng-model="item.type" id="type" data-placeholder="-- Select One --">
        	<option></option>
        	<option value="Brand LAL">Brand LAL</option>
            <option value="Perf LAL">Perf LAL</option>
            </select>
        </div>
    </div>
	    <div class="control-group" ng-class="{error: detailForm.product.$invalid}">
        <label class="control-label" for="product">Product</label>
        <div class="controls">
            <select ui-select2 ng-model="item.product_id" id="product" data-placeholder="-- Select One --">
            	<option></option>
    			<option ng-repeat="p in select_products" value="{{p.id}}">{{p.product}}</option>
  			</select>
        </div>
    </div>
    <div class="control-group" ng-class="{error: detailForm.channel.$invalid}">
        <label class="control-label" for="channel">Channel</label>
        <div class="controls">
            <select ui-select2 ng-model="item.channel_id" id="channel" data-placeholder="-- Select One --">
            	<option></option>
            	<option ng-repeat="c in select_channels" value="{{c.id}}">{{c.channel}}</option>
            </select>
        </div>
    </div>


<!--<div class="control-group" ng-class="{error: detailForm.rep.$invalid}">
        <label class="control-label" for="rep">Representative</label>
        <div class="controls">
            <input ui-select2="select_reps" ng-model="item.rep_id" id="rep" />
        </div>
    </div>-->
    
</div>
<div class="span5">
	<div class="control-group" ng-class="{error: detailForm.cp.$invalid}">
        <label class="control-label" for="cp">CPA/CPM</label>
        <div class="controls">
            <select ui-select2 ng-model="item.cp" id="cp" data-placeholder="-- Select One --">
            	<option></option>
            	<option value="CPA">CPA</option>
            	<option value="CPM">CPM</option>
            </select>
        </div>
    </div>
    <div class="control-group" ng-class="{error: detailForm.cpm_price.$invalid}">
        <label class="control-label" for="cpm_price">CPM price</label>
        <div class="controls">
            <input type="text" ng-model="item.cpm_price" id="cpm_price" placeholder="" />
        </div>
    </div>
    <div class="control-group" ng-class="{error: detailForm.start.$invalid}">
        <label class="control-label" for="start">Start Date</label>
        <div class="controls">
            <input type="text" ui-date  ng-model="item.start_date" id="start" placeholder="Date" />
        </div>
    </div>
    <div class="control-group" ng-class="{error: detailForm.end.$invalid}">
        <label class="control-label" for="end_date">End Date</label>
        <div class="controls">
            <input type="text" ui-date ng-model="item.end_date" id="end_date" placeholder="Date" />
        </div>
    </div>
       <div class="control-group" ng-class="{error: detailForm.contracted_impr.$invalid}">
        <label class="control-label" for="contracted_impr">Contracted Impressions</label>
        <div class="controls">
            <input type="text" ng-model="item.contracted_impr" id="contracted_impr" placeholder="" />
        </div>
    </div>
       <div class="control-group" ng-class="{error: detailForm.contracted_deal.$invalid}">
        <label class="control-label" for="contracted_deal">Contracted Deal</label>
        <div class="controls">
            <input type="text" ng-model="item.contracted_deal" id="contracted_deal" placeholder="" />
        </div>
    </div>
       <div class="control-group" ng-class="{error: detailForm.revised_deal.$invalid}">
        <label class="control-label" for="revised_deal">Revised Deal</label>
        <div class="controls">
            <input type="text" ng-model="item.revised_deal" id="revised_deal" placeholder="" />
        </div>
    </div>
</div>
<div class="span12"><div class="qc-blue-line"></div></div>
<div class="span2">
	Start <br /> <input class="input-small" type="text" ui-date ng-model="calc_start" />
	<br />
	Total Budget<br /> <input class="input-small" type="text" ng-model="calc_deal" />
</div>
<div class="span2">
	End ({{ 1 + (calc_end - calc_start)/1000/60/60/24 | number:0 }} days)<br /> <input class="input-small" type="text" ui-date ng-model="calc_end" id="end" />
	<br /> <br />
	<button ng-click="calculate()" class="btn btn-primary">Calculate</button>
</div>

<div id="temp"><br /></div>

<div id="bookedclass">
	<div class ="span1">Booked:</div>
	<div class="span1" ng-repeat="b in item.bookeds">
		<table class="table table-striped table-condensed table-hover">
		<thead class="customTable" > <th> {{b.date | date:'MM/yy'}}</th> </thead>
		<tbody><tr><td> <input class="input-small" ng-model ="b.bookedRev" /> </td></tr>
		</tbody>
		</table>
	</div>
</div>
<div id="actualclass">
	<div class = "span1">Actual:</div>
	<div class="span1" ng-repeat="a in item.actuals">
		<table class="table table-striped table-condensed table-hover">
		<tr><td> <input class="input-small" ng-model ="a.actualRev" /> </td></tr>
		</table>
	</div>
</div>

<div class="span12">
	
<div class="form-actions">
        <button ng-click="save()" ng-disabled="detailForm.$invalid" class="btn btn-primary">
            {{btn_text}}
        </button>
         <a href="#/history/{{item.id}}"><button ng-show="history" class="btn"> View History</button></a>
        <button ng-click="cancel()" class="btn">Cancel</button>
    </div>
</div>
</form>
</div>