<h1>Historical Dashboard</h1>
<div class="row-fluid">
	<div class="span6">
		<h4>Actual</h4>
	<table class="table table-striped table-bordered table-hover">
		<thead>
			<th>Channel</th>
			<th>CPA/CPM</th>
			<th>2011</th>
			<th>2012</th>
		</thead>
		<tbody>
			<tr ng-repeat="item in revdata">
				<td>{{item.channel}}</td>
				<td>{{item.cp}}</td>
				<td>{{item.y2011 | currency}}</td>
				<td>{{item.y2012 | currency}}</td>
			</tr>
<!--			<tr><td rowspan="2">Direct</td><td>CPA</td><td></td><td></td><td></td><td></td></tr>
			<tr><td>CPM</td><td></td><td></td><td></td><td></td></tr>
			<tr><td rowspan="2">Inside</td><td>CPA</td><td></td><td></td><td></td><td></td></tr>
			<tr><td>CPM</td><td></td><td></td><td></td><td></td></tr>
			<tr><td>UK</td><td>CPA</td><td></td><td></td><td></td><td></td></tr>
			<tr><td></td><td>CPM</td><td></td><td></td><td></td><td></td></tr>
		-->
		</tbody>		
	</table>
	
	<h4>Client Count</h4>
	<table class="table table-striped table-bordered table-hover">
		<thead>
			<th colspan="2">Channel</th>
			<th>2011</th>
			<th>2012</th>
		</thead>
		<tbody>
			<tr><td rowspan="2">Direct</td><td>CPM</td><td>{{ count2011[1] }}</td><<td></td></tr>
			<tr><td>CPA</td><td></td><td></td></tr>
			<tr><td rowspan="2">Inside</td><td>CPM</td><td></td><td></td></tr>
			<tr><td>CPA</td><td></td><td></td></tr>
			<tr><td>UK</td><td>CPM</td><td></td><td></td></tr>
		</tbody>		
	</table>
	
	</div>
	

	<div class="span6">
	<!-- <div chart></div> -->
	<div column-chart="revdata" chart-title="Revenue" chart-haxis-title="Channel"></div>
 <!--   <chart ng-model="data" style="width:300px;height:200px;"> </chart> -->

	</div>


</div>



