<h2>{{btn_text}} Rep </h2>

<form name="detailForm" class="form-horizontal">
    <div class="control-group" ng-class="{error: detailForm.rep.$invalid}">
        <label class="control-label" for="repID">RepID</label>
        <div class="controls">
            <input type="text" ng-model="item.repID" id="rep" placeholder="" required />
            <span ng-show="detailForm.name.$error.required" class="help-inline">Required</span>
        </div>
    </div>
    <div class="control-group" ng-class="{error: detailForm.type.$invalid}">
        <label class="control-label" for="last_name">Last Name</label>
        <div class="controls">
        	<input type="text" ng-model="item.last_name" id="last_name" placeholder="" required>
 			<span ng-show="detailForm.name.$error.required" class="help-inline">Required</span>
        </div>
    </div>
    <div class="control-group" ng-class="{error: detailForm.type.$invalid}">
        <label class="control-label" for="first_name">First Name</label>
        <div class="controls">
        	<input type="text" ng-model="item.first_name" id="first_name" placeholder="" required>
 			<span ng-show="detailForm.name.$error.required" class="help-inline">Required</span>
        </div>
    </div>
    <div class="control-group" ng-class="{error: detailForm.type.$invalid}">
        <label class="control-label" for="employeeID">Employee ID</label>
        <div class="controls">
        	<input type="text" ng-model="item.employeeID" id="employeeID" placeholder="">
 			<span ng-show="detailForm.name.$error.required" class="help-inline"></span>
        </div>
    </div>
    
     <div class="control-group" ng-class="{error: detailForm.datehire.$invalid}">
        <label class="control-label" for="due">Date of Hire</label>
        <div class="controls">
            <input type="text"  ui-date ui-date-format="yy-mm-dd" ng-model="item.date_of_hire" id="date_of_hire" placeholder="date">
        </div>
    </div>
    <div class="control-group" ng-class="{error: detailForm.terminationdate.$invalid}">
        <label class="control-label" for="due">Termination Date</label>
        <div class="controls">
            <input type="text"  ui-date ui-date-format="yy-mm-dd" ng-model="item.termination_date" id="termination_date" placeholder="date">
        </div>
    </div>
  
 	<div class="control-group" ng-class="{error: detailForm.dept.$invalid}">
        <label class="control-label" for="dept">Department</label>
        <div class="controls">
            <select ui-select2 ng-model="item.department" id="department" data-placeholder="-- Select One --">
            	<option></option>
            	<option value="Corporate Sales">Corporate Sales</option>
            	<option value="Direct Sales">Direct Sales</option>
            	<option value="Publisher">Publisher</option>
            </select>
        </div>
    </div>
    
    <div class="control-group" ng-class="{error: detailForm.channel.$invalid}">
        <label class="control-label" for="channel">Channel</label>    
        <div class="controls">
            <select ui-select2 ng-model="item.channel_id" id="channel" data-placeholder="-- Select One --">
            	<option></option>
    			<option ng-repeat="c in select_channels" value="{{c.id}}">{{c.channel}}</option>
  			</select>
        </div>
    </div>
    <div class="control-group" ng-class="{error: detailForm.channel.$invalid}">
        <label class="control-label" for="product">Product</label>    
        <div class="controls">
            <select ui-select2 ng-model="item.product_id" id="product" data-placeholder="-- Select One --">
            	<option></option>
    			<option ng-repeat="c in select_products" value="{{c.id}}">{{c.product}}</option>
  			</select>
        </div>
    </div>
    <div class="control-group" ng-class="{error: detailForm.dept.$invalid}">
        <label class="control-label" for="type">Type</label>
        <div class="controls">
            <select ui-select2 ng-model="item.type" id="type" data-placeholder="-- Select One --">
        		<option></option>
        		<option value="Brand LAL">Brand LAL</option>
            	<option value="Perf LAL">Perf LAL</option>
            </select>            
        </div>
    </div>
    
     <div class="control-group" ng-class="{error: detailForm.channel.$invalid}">
        <label class="control-label" for="seller">Seller</label>
        <div class="controls">    
            <input type="checkbox" id="inlineCheckbox1" ng-model="item.seller">
      </div>
    </div>
    <div class="control-group" ng-class="{error: detailForm.type.$invalid}">
        <label class="control-label" for="managerID">Manager</label>
        <div class="controls">
        	<select ui-select2 ng-model="item.manager_id" id="managerID" data-placeholder="-- Select One --">
            	<option></option>
    			<option ng-repeat="m in select_reps" value="{{m.id}}">{{m.last_name + ", " + m.first_name}}</option>
  			</select>
        </div>
    </div>   
 
    <div class="form-actions">
        <button ng-click="save()" ng-disabled="isClean() || detailForm.$invalid" class="btn btn-primary">
            {{btn_text}}
        </button>
        <a href="#/" class="btn">Cancel</a>
    </div>
</form>
