<h3>Changes in last 7 days</h3>

<h4>Campaigns</h4>
<div class="span12"><div class="qc-blue-line"></div></div>
<table class="table table-striped table-condensed table-hover">
    <thead>
		<th>Change Date</th>
			<th ng-repeat="key in booked_keys">{{key}}</th>
		</thead>
		<tbody>
			<tr ng-repeat="item in bchanges">
				<td>{{item[0] | date:'MM/dd/yy  HH:mm:ss'}}</td>
				<td ng-repeat="cell in item.slice(1)">{{cell | myCurrency }}</td>
			</tr>
		</tbody>		
</table>

<h4>Actual Changes</h4>
<div class="span12"><div class="qc-blue-line"></div></div>
<table class="table table-striped table-condensed table-hover">
    <thead>
		<th>Change Date</th>
			<th ng-repeat="key in actual_keys">{{key}}</th>
		</thead>
		<tbody>
			<tr ng-repeat="item in achanges">
				<td>{{item[0] | date:'MM/dd/yy  HH:mm:ss'}}</td>
				<td ng-repeat="cell in item.slice(1)">{{cell | myCurrency }}</td>
			</tr>
		</tbody>		
</table>


<h4>Campaign Changes</h4>
<div class="span12"><div class="qc-blue-line"></div></div>
<table class="table table-striped table-condensed table-hover">
    <thead>
        <th>Changed</th>
        <th>Start Date</th>
        <th>End Date</th>
		<th>CPM price</th>
        <th>Revised Deal</th>
    </thead>
    <tbody>
        <tr ng-repeat="campaignchange in campaignchanges">
            <td>{{campaignchange.change_date | date:'MM/dd/yy  HH:mm:ss'}}</td>
            <td>{{campaignchange.start_date | date}}</td>
            <td>{{campaignchange.end_date | date}}</td>
            <td>{{campaignchange.cpm_price | currency }}</td>
			<td>{{campaignchange.revised_deal | myCurrency }}</td>
		</tr>
	</tbody>
</table>


<div class="form-actions">
        <a href="#/edit/{{campaign.id}}"><button class="btn">Back to Campaign Details</button></a>
		<a href="#/campaigns"><button class="btn">Back to List of Campaigns</button></a>
    </div>
</div>